@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --font-h2: 1.5rem;
  --font-h3-intro: 1.125rem;
  --font-h4-p-btn: 1rem;
  --font-p-date: 0.875rem;
  --color-main: #4f4f4f;
  --color-second: #828282;
  --color-third: #e0e0e0;
  --color-a-btn: #2f80ed;
  --color-other: #333333;
}

body {
  width: 90%;
  margin: auto;
  font-family: "Source Sans Pro", sans-serif;
  background-color: #f2f2f2;
}

.App {
  padding: 5rem;
  background-color: #f2f2f2;
  margin: auto;
  display: grid;
  grid:
    "personal-details personal-details personal-details" 0.5fr
    "skills blogs blogs" 1fr
    "hobbies blogs blogs" 1fr
    "hobbies experiences experiences" 1fr
    "projects projects projects" 1.5fr
    /1fr 1fr 1fr;
  gap: 2rem;
}

.personal-details,
.hobbies,
.skills,
.title,
.project,
.experiences,
.blogs {
  background-color: #ffffff;
  border-radius: 12px;
  padding: 2rem;
  box-shadow: 0px 1px 1px 1px #d3d3d3;
}

.personal-details {
  grid-area: personal-details;
  display: grid;
  grid:
    "avatar name-title contact" 0.4fr
    "avatar intro intro" 0.6fr
    /1fr 1fr 1fr;
  gap: 0.5rem;
}
.avatar {
  grid-area: avatar;
}
.avatar img {
  width: 100%;
  height: auto;
  border-radius: 10%;
}
.name-title {
  grid-area: name-title;
  padding-left: 0.5rem;
}
.name-title h2 {
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  color: #4f4f4f;
}
.name-title h3 {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #828282;
}
.contact {
  grid-area: contact;
}

.contact p,
.contact.material-symbols-outlined {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;

  color: #4f4f4f;
}
.intro {
  grid-area: intro;
  padding-left: 0.5rem;
}
p.intro {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;

  color: #828282;
}

.hobbies {
  grid-area: hobbies;
}
.hobbies h2 {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;

  margin-bottom: 2rem;

  color: #4f4f4f;
}

.hobbie {
  margin-bottom: 2rem;
}
.hobbie img {
  width: 100%;
  height: auto;
  border-radius: 12px;
  margin-bottom: 1rem;
}

.hobbie h3 {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #333333;
}

.hobbie p {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;

  color: #828282;
}

.skills {
  grid-area: skills;
}
.skills h2 {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
  color: #4f4f4f;
}

.skills-list {
  margin-top: 3rem;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-around;
  align-items: stretch;
}
.skill {
  padding: 1rem;
  margin: 1rem 2rem;
}

.skill i {
  font-size: 50px;
}
.skill i.fa-brands {
  color: #2f80ed;
}

.projects {
  grid-area: projects;
}

.title {
  margin-bottom: 2rem;
}

.title h2 {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;

  color: #4f4f4f;
}

.title button {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  border: 1px solid #4f4f4f;
  border-radius: 12px;
  color: #4f4f4f;
  background-color: #ffffff;
  padding: 0.5rem 1.5rem;
  margin-top: 1rem;
  margin-right: 1rem;
  cursor: pointer;
}

.title button:hover {
  color: #2f80ed;
  border: 1px solid #2f80ed;
  cursor: pointer;
  transform: scale(1.1);
}

.title button:active {
  color: #ffffff;
  background: #2f80ed;
  border: 1px solid #2f80ed;
  transform: scale(1.2);
}

.project-list {
  display: flex;
  gap: 1.5rem;
}

.project {
  width: 33%;
}

.project img {
  width: 100%;
  height: 50%;
  margin-bottom: 1rem;
  border-radius: 12px;
}

.project h3 {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  margin-bottom: 1rem;

  color: #333333;
}

.project p {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 2rem;

  color: #828282;
}

.project p.sk {
  color: #4f4f4f;
  margin-bottom: 1rem;
}

.project-btn {
  display: flex;
  margin: auto;
  justify-content: space-between;
}

.project-btn a {
  border: 1px solid #2f80ed;
  border-radius: 12px;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  cursor: pointer;
  color: #2f80ed;
  padding: 0.7rem 3rem;
  text-decoration: none;
}
.project-btn a:hover {
  color: #ffffff;
  background: #2f80ed;
}

.project-btn a.demo {
  color: #ffffff;
  background: #2f80ed;
}
.project-btn a.demo:hover {
  color: #2f80ed;
  background: #ffffff;
}

.experiences {
  grid-area: experiences;
}

.experiences h2 {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  margin-bottom: 2rem;

  color: #4f4f4f;
}

.experience img {
  width: 30%;
  height: auto;
  border-radius: 12px;
}

.experience {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3rem;
}

.experience p span {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  margin-bottom: 1rem;

  color: #828282;
}

.experience h3 {
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 1.5rem;

  color: #333333;
}

.experience ul li {
  list-style: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  padding: 0.1rem;
  color: #828282;
}

.blogs {
  grid-area: blogs;
}

.blogs h4 {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 2rem;

  color: #e0e0e0;
}
.blog {
  margin-bottom: 5rem;
}
.title-img {
  display: flex;
  align-items: center;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 3rem;
}
.blog h3 {
  width: 20%;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;

  color: #333333;
}
.blog img {
  width: 100%;
  max-width: 50%;

  height: auto;
  border-radius: 0.75rem;
}
.blog p {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 4.125rem;

  color: #828282;
}
.blog a {
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #2f80ed;
}

footer {
  padding-bottom: 2rem;
}

footer p {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: center;

  color: #828282;
}
